.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 8px;
  font-size: 15px;
  padding: 10px 14px;
  outline: none;
  transition: 0.2s ease;
  background-color: var(--white);
  color: var(--text-primary);

  &:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 2px rgba(0, 128, 128, 0.1);
  }
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.left {
    left: 12px;
  }

  &.right {
    right: 12px;
    cursor: pointer;
  }
}

.hasLeft {
  .input {
    padding-left: 40px;
  }
}

.hasRight {
  .input {
    padding-right: 40px;
  }
}

.search {
  .input {
    font-size: 17px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--card);
    transition: box-shadow 0.2s, border-color 0.2s;

    &:focus {
      border-color: var(--primary);
      box-shadow: 0 0 0 2px rgba(0, 128, 128, 0.15);
    }
  }
}
