.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  border: none;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 0.2s ease;
  background: transparent;
  color: var(--text-base);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  &:first-child {
    margin-right: 8px;
  }

  &:last-child {
    margin-left: 8px;
  }
}

.text {
  background: none;
  padding: 6px 8px;
  border-radius: 4px;

  &:hover {
    color: var(--white) !important;
  }
}

.outline {
  border: 1px solid var(--text-base);
}

.register {
  background-color: var(--white);
  color: var(--primary);
}

.user {
  color: white;

  .icon {
    font-size: 14px;
  }
}

.submit {
  margin-top: 6px;
  color: var(--white);
  background-color: var(--primary);
  padding: 12px 0;

  &:hover {
    background-color: #1994a5;
  }
}

.google {
  padding: 12px 0;
  width: 100%;
  justify-content: center;
  color: var(--black);

  &:hover {
    background-color: #fc5f00;
    color: var(--white);
  }
}

.link {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    color: var(--primary) !important;
    text-decoration: underline;
  }
}

.back-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: var(--text-base);
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 0.2s ease;
  &:hover {
    color: var(--primary) !important;
  }
}

.green {
  color: var(--white);
  background-color: var(--primary);
  padding: 12px 16px;

  &:hover {
    background-color: #1994a5;
  }
}

.orange {
  padding: 12px 16px;
  color: var(--black);

  &:hover {
    background-color: #fc5f00;
    color: var(--white);
  }
}

.full {
  width: 100%;
  justify-content: center;
}
