.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  flex-direction: column;
}

.header {
  text-align: center;
  margin-bottom: 24px;

  h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--primary);
  }

  p {
    font-weight: 500;
    font-size: 16px;
    color: var(--grey);
    margin-top: 4px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-high);
  }

  .hint-text {
    font-size: 12px;
    color: var(--grey);
  }
}

.terms {
  display: flex;
  gap: 8px;
  font-size: 13px;
  color: var(--text-high);

  input {
    margin-top: 2px;
  }

  .link {
    color: var(--primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.divider {
  position: relative;
  text-align: center;
  margin: 24px 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: var(--grey);
    z-index: 1;
  }

  span {
    position: relative;
    z-index: 2;
    background-color: var(--card);
    padding: 0 8px;
    font-size: 13px;
    color: var(--grey);
  }
}

.register-text {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: var(--grey);
}
